1. Сделать форму обратной связи. На странице должны быть показаны все оставленные отзывы, под ними форма: Имя, E-mail, текст сообщения, и "Отправить". Отзывы можно сортировать по имени автора, e-mail и дате добавления (по умолчанию - по дате, последние наверху). Также должна быть валидация.
2. Предварительный просмотр должен работать без перезагрузки страницы, желательно использовать Ajax
3. Сделать вход для администратора (логин "admin", пароль "123"). Администратор должен иметь возможность редактировать отзыв. Измененные отзывы в общем списке выводятся с пометкой "изменен администратором".
4. К отзыву можно прикрепить картинку. Картинка должна быть не более 1mb, при попытке залить изображение большего размера - ошибка. Допустимые форматы: JPG, GIF, PNG.
5. У администратора должна быть возможность модерирования. Т.е. на странице администратора показать отзывы с миниатюрами картинок и их статусы (принят/отклонен). Отзыв становится видимым для всех только после принятия админом. Отклоненные отзывы остаются в базе, но не показываются обычным пользователям. Изменение картинки администратором не требуется.
6. Реализовать с помощью чистого PHP, MySQL, jQuery (ajax) (без использования PHP-фреймворков).